.App {
  text-align: center;
  background-color: black;
}

.logo {
  width: 5vw;
  height: 5vw;
}

.info {
  left: 5vw;
  top: 10vw;
  width: 20vw;
  font-family: Roboto;
  font-weight: 100;
  color: white;
  z-index: 10000;
  position: absolute;
}

.info h1 {
  font-size: 3vw;
  font-weight: 100;
}
h2,
h3,
h4 {
  font-weight: 100;
}

.data {
  left: 80vw;
  top: 20vw;
  width: 20vw;
  font-family: Roboto;
  font-weight: 100;
  color: white;
  z-index: 10000;
  position: absolute;
}

.data ul {
  list-style-type: none;
  list-style-position: outside;
  margin-left: -40px;
}
