.App {
  text-align: center;
  background-color: black;
}

.logo {
  width: 5vw;
  height: 5vw;
}

.info {
  left: 5vw;
  top: 10vw;
  width: 30vw;
  font-family: Roboto;
  font-weight: 100;
  color: white;
  z-index: 10000;
  position: absolute;
}

.info h1 {
  font-size: 5vw;
  font-weight: 100;
}

.info h3 {
  font-weight: 200;
}

.info h4 {
  font-weight: 300;
}

.data {
  left: 80vw;
  top: 20vw;
  width: 20vw;
  font-family: Roboto;
  font-weight: 100;
  color: white;
  z-index: 10;
  position: absolute;
}

.data ul {
  list-style-type: none;
  list-style-position: outside;
  margin-left: -40px;
}

.data h3 {
  font-weight: 100;
}

button {
  margin-top: 1vw;
  z-index: 10 !important;
  position: absolute;
  font-size: 1vw;
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
  height: 20px;
  left: 5%;
  top: 90%;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}

button:focus {
  outline: 0;
}

button:hover {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}
